type World = {
{{#Components}}
    {{.}}Components: Component<{{.}}> array
{{/Components}} }

let NewWorld = {
{{#Components}}
    {{.}}Components = [||]
{{/Components}} }


{{#ValueComponents}}
type {{Name}} = {{Name}} of {{Type}}
{{/ValueComponents}}

{{#StructComponents}}
[<Struct>]
type {{Name}} = {
    {{#Fields}}
    {{Name}}: {{Type}}
    {{/Fields}}
}
{{/StructComponents}}