type World = {
{{#Components}}
    {{Name}}Components: Component<{{Name}}> array
{{/Components}} }

let NewWorld = {
{{#Components}}
    {{Name}}Components = [||]
{{/Components}} }


{{#ValueComponents}}
type {{Name}} = {{Name}} of {{Type}}
{{/ValueComponents}}

{{#StructComponents}}
[<Struct>]
type {{Name}} = {
    {{#Fields}}
    {{Name}}: {{Type}}
    {{/Fields}}
}
{{/StructComponents}}